<!DOCTYPE html>
<html lang="ko"   xmlns:th="http://www.thymeleaf.org">
<div class="hero__item set-bg" th:fragment="contents">
    <form action ="/member/login" method="post" class="hero__text login-frame" th:action="@{/member/login}">
        <h2>방문을 환영합니다.</h2><br />
        <fieldset>
            <label for="login-id">
                아이디
                <span>(ID)</span>
            </label>
            <input type="text" class="input_text" th:name="username" id="login-id" maxlength="20">
            <input type="submit" class="primary-btn" value="로그인">
            <br>
            <label for="login-pw">
                비밀번호
                <span>(PW)</span>
            </label>
            <input type="password" class="input_text" th:name="password" id="login-pw" autocomplete="off">
        </fieldset>
        <div>
            <a th:href="@{/member/signup}">아이디 저장</a>
            <a th:href="@{/member/signup}">회원가입</a>
        </div>
        <div class="alert alert-danger" th:if="${errorData != null}" role="alert" th:text="${errorData}">
        </div>
    </form>
</div>
</html>