.login-frame{
    fieldset{
        label{
            position:relative;
            display:inline-block;
            text-align:right;
            width:300px;
            padding-right:5px;
            font-weight:bold;
        }
    }
}