<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome To Flower Shop</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>

<div class="header__top" th:fragment="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="header__top__left">
                    <ul>
                        <li><i class="fa fa-envelope"></i> yunejaega@gmail.com</li>
                        <li>Free Shipping for all Order of $99</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="header__top__right">
                    <div class="header__top__right__social">
                        <a href="#"><i class="fa fa-google"></i></a>
                    </div>
                    <div class="header__top__right__language">
                        <img th:src="@{img/language.png}" alt="">
                        <div>English</div>
                        <span class="arrow_carrot-down"></span>
                        <ul>
                            <li><a href="#">Korean</a></li>
                            <li><a href="#">English</a></li>
                        </ul>
                    </div>
                    <div class="header__top__right__auth">
                        <div th:if="${message}==null">
                            <a href="/user/login"><i class="fa fa-user"></i> Login</a>
                        </div>
                        <div th:unless="${message}==null">
                            <i class="fa fa-user"></i>
                            <br>
                            <p th:text="${message}">Logout</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" th:fragment="menu-bar">
    <div class="row">
        <div class="col-lg-3">
            <div class="header__logo">
                <a href="./"><img th:src="@{/img/logo.png}" alt=""></a>
            </div>
        </div>
        <div class="col-lg-6">
            <nav class="header__menu">
                <ul>
                    <li class="active"><a href="./">Home</a></li>
                    <li><a href="./shop-grid.html">Shop</a></li>
                    <li><a href="#">Pages</a>
                        <ul class="header__menu__dropdown">
                            <li><a href="./shop-details.html">Shop Details</a></li>
                            <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                            <li><a href="./checkout.html">Check Out</a></li>
                            <li><a href="./blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li><a href="./blog.html">Blog</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3">
            <div class="header__cart">
                <ul>
                    <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                    <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                </ul>
                <div class="header__cart__price">item: <span>$150.00</span></div>
            </div>
        </div>
    </div>
    <div class="humberger__open">
        <i class="fa fa-bars"></i>
    </div>
</div>
</html>