<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<section class="hero" th:fragment="hero(page)">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>카테고리</span>
                    </div>
                    <ul>
                        <li><a href="#">다육 식물</a></li>
                        <li><a href="#">야생화</a></li>
                        <li><a href="#">관엽식물</a></li>
                        <li><a href="#">과실류</a></li>
                        <li><a href="#">묘묙</a></li>
                        <li><a href="#">분재</a></li>
                        <li><a href="#">화분자재류</a></li>
                        <li><a href="#">씨앗</a></li>
                        <li><a href="#">구근</a></li>
                        <li><a href="#">채소</a></li>
                        <li><a href="#">허브</a></li>
                        <li><a href="#">제라늄</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                All Categories
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="상품 명을 입력하세요.">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+65 11.188.888</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
                <div th:replace="~{'fragments/herobackground/' +${page} :: contents} ?: ~{}"></div>
            </div>
        </div>
    </div>
</section>
</html>